<h1 id="our_story">Our Story</h1>

<p>In 1989, Bill Pelletier set out to find a better, more effecient and less expensive way for consumers to have their brakes repaired. He created a system and developed it into a company called Brake Centers of America.</p>
	
<p>Today this successful company is one of the country's only true brake specialists and enjoys one of the best fix-it-right records in the industry. BCA's customers are considered friends. The company's mission statement is: "WE DO WHAT'S RIGHT FOR YOU". BCA really does go out of their way to please. The intentions of the company are to grow with the same spirit that started in the first store 15 years ago</p>

<p>For many years people have had to make appointments with their garages, tie up their vehicle for at least a day ... and then pay astronomical fees when they needed brake work. BCA offers customers an alternative. Some of our features include: no appointment needed, while-you-wait service, performed by experienced brake specialists for the best price, bar none.</p>

<p>The competition's ability to compete with BCA's products and service has steadily weakened as we have expanded in our markets..</p>
