<h1 id="">Bridgeport Directions</h1>
<strong>Via Google Maps...</strong> <br /><br />

<iframe width="440" height="360" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="http://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=4315+Main+St,+Bridgeport,+Fairfield,+Connecticut+06606&amp;sll=41.055662,-73.525124&amp;sspn=0.006391,0.006437&amp;ie=UTF8&amp;cd=3&amp;geocode=FSPzdAIdUNGi-w&amp;split=0&amp;hq=&amp;hnear=4315+Main+St,+Bridgeport,+Fairfield,+Connecticut+06606&amp;z=14&amp;ll=41.228378,-73.211432&amp;output=embed"></iframe><br /><small><a href="http://www.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;q=4315+Main+St,+Bridgeport,+Fairfield,+Connecticut+06606&amp;sll=41.055662,-73.525124&amp;sspn=0.006391,0.006437&amp;ie=UTF8&amp;cd=3&amp;geocode=FSPzdAIdUNGi-w&amp;split=0&amp;hq=&amp;hnear=4315+Main+St,+Bridgeport,+Fairfield,+Connecticut+06606&amp;z=14&amp;ll=41.228378,-73.211432" style="color:#0000FF;text-align:left">View Larger Map</a></small>

<br /><br />
<%= link_to "Back to store locations", :controller => 'site', :action => 'locations'%>