<h1>Celebrating 20 Years!</h1>
<p>We are proud to say that we have been in business for 20 years.
I am glad to see all of the same faces, and many new ones. Allow us to make you a lifetime
customer and also, be sure to check out our <strong><%= link_to "20th year anniversary sale!", :controller => 'site', :action => 'promotions'%></strong></p>

<fieldset id="" class="">
	<legend>Fall 4X4 Sale Going on Right Now!</legend>
<h2>$150 Instant Refund</h2>
on 4 wheel brakes and 4 tires<br />
<strong><%= link_to "More sales and promotions...", :controller => 'site', :action => 'promotions'%></strong><br />
</fieldset>
<br />
	
	



<h1 id="brake_centers_of_america">Brake Centers of America</h1>
<p>We are not simply brake experts, we eat, sleep and think brakes all day every day. Having problems getting a brake problem resolved elsewhere? Let us come to your rescue. We can diagnose and repair any brake system and brake components including, brake squeal and brake noises, brake pull, brake dust problems, ABS brake lights on, emergency brakes that don’t hold, brake vibrations and brake pulsations, drum brake systems malfunctions, imbalanced brake systems, red, yellow brake light on, we fix it all.</p>

<div id="tabbedContent">
<li><h2>Expert Brake Repairs</h2>
	<p>Done right the first time. You can trust us to do what is right for you.

<li><h2>Low Brake Price Guarantee</h2>
	<p>We guarantee our Brake prices are at least 25% less than any competitors price prior to repair.  

<li><h2>Convenience</h2>
 	<p>No appointment is ever needed, all brake services  performed quickly while you wait.

<li><h2>Our Wonderful Employees</h2>
<p>With Today's Cars, Experience is important, but so is courtesy. Employees that started with us 20 years ago are still with us today.</p>
</div>

<h1>Short on funds?</h1>
<strong>We can help</strong><br /><br />

<fieldset id="" class="">
	<legend>20th Anniversary BRAKE SALE</legend>
	
<strong>Cars $49.95 per wheel INCLUDING PARTS AND LABOR<br />
Lt. Trucks or SUV $59.95 per wheel. HD Truck $69.95 per wheel</strong><br />

Includes parts, organic or semi metallic brake pads, labor to replace pads
and any machining of non captured rotors needed.<br /><br /><br />

 

For semi metallic price on luxury or sport vehicles add $20.00 per wheel.<br />
Add $5.00 per wheel for OSHA mandated brake wash and EPA charges.<br /><br />


Specialty brake pads may be suggested in certain circumstances.
Specialty pads include noise suppressor, low dusting, commercial duty,
ceramic or OEM pads add $30.00 per wheel for these specialty pads

</fieldset><br />

<p>We have been hearing stories from our customers that other garages won't even look at there vehicles if they indicate they don't have a lot of money to spend on repairs. Don't feel bad, you are not alone. We can and want to help you.</p>

<p>During this time of financial difficulty we would like to help those families who otherwise could not afford their auto repair. Allow us to help figure out how to best repair your vehicle at this time. There are many options that we can suggest, including safely patching up a problem for a future repair, a safe temporary repair, repairs in stages, a no intrest no application payment plan that only requires that you have a checking account or the store manager can call our office with your story for a repair grant up to the full cost of repair. Any option you choose or a combination of these options may be used.</p><br />

