<h1>Celebrating 20 Years!</h1>
<p>We are proud to say that we have been in business for 20 years.
I am glad to see all of the same faces all of the time. Allow us to make you a lifetime
customer and also, be sure to check out our 20th year anniversary sale!</p>


	

<h1 id="brake_centers_of_america">Brake Centers of America</h1>
<p>We are not simply brake experts, we eat, sleep and think brakes all day every day. Having problems getting a brake problem resolved elsewhere? Let us come to your rescue. We can diagnose and repair any brake system and brake components including, brake squeal and brake noises, brake pull, brake dust problems, ABS brake lights on, emergency brakes that don’t hold, brake vibrations and brake pulsations, drum brake systems malfunctions, imbalanced brake systems, red, yellow brake light on, we fix it all.</p>

<div id="tabbedContent">
<li><h2>Expert Brake Repairs</h2>
	<p>Done right the first time. You can trust us to do what is right for you.

<li><h2>Low Brake Price Guarantee</h2>
	<p>We guarantee our Brake prices are at least 25% less than any competitors price prior to repair.  

<li><h2>Convenience</h2>
 	<p>No appointment is ever needed, all brake services  performed quickly while you wait.

<li><h2>Our Wonderful Employees</h2>
<p>With Today's Cars, Experience is important, but so is courtesy. Employees that started with us 20 years ago are still with us today.</p>
</div>