<h1>Store Locations</h1>
<p>Our shop hours are Monday - Friday 8:00 am - 5:30 PM. Saturday 8:00 AM 3:00 PM.<br />
We take our last car for the day 1 hour before close time. No appointment is needed.<br />
Let us know if you need us to arrive early or stay late to accommodate your schedule.</p>
<p>We currently have 4 convenient locations. Click on the store to get detailed directions via Google Maps. </p>

<div id="tabbedContent">	
	<h2><%= link_to "STAMFORD", :controller => 'site', :action => 'stamford'%></h2>
	859 East Main Street, 203-921-1997<br />
	1/4 mile from downtown <br /> 
	Your Store Manager: Earl<br /><br />

	<h2><%= link_to "BRIDGEPORT", :controller => 'site', :action => 'bridgeport'%></h2> 
	4315 North Main Street, 203-372-1995<br />
	1/4 Mile from Trumbull<br />
	Your Store Manager: Carlos<br /><br />

	<h2><%= link_to "NORWALK", :controller => 'site', :action => 'norwalk'%></h2>
	24 Hoyt Street, 203-846-2995 - US1, Cross Street<br />
	Directly across from Cablevision headquarters<br />
	Store Managers: Joe and David<br /><br />

	<h2><%= link_to "STRATFORD", :controller => 'site', :action => 'stratford'%></h2>
	1103 Barnum Avenue, 203-375-9049<br />
	Near Curran Volkswagen on Barnum<br />
	Your Store Manager: Donnie<br />

</div>