<h1>Promotions</h1>
<strong>Our latest sales and specials!</strong><br /><br />

<fieldset id="" class="">
	<legend>20th Anniversary BRAKE SALE</legend>
	
<strong>Cars $49.95 per wheel INCLUDING PARTS AND LABOR<br />
Lt. Trucks or SUV $59.95 per wheel. HD Truck $69.95 per wheel</strong><br />

Includes parts, organic or semi metallic brake pads, labor to replace pads
and any machining of non captured rotors needed.<br /><br /><br />

 

For semi metallic price on luxury or sport vehicles add $20.00 per wheel.<br />
Add $5.00 per wheel for OSHA mandated brake wash and EPA charges.<br /><br />


Specialty brake pads may be suggested in certain circumstances.
Specialty pads include noise suppressor, low dusting, commercial duty,
ceramic or OEM pads add $30.00 per wheel for these specialty pads

</fieldset><br /><br />

<h2>$19.89 Oil change</h2>
Tire rotation and multi-point inspection Total: $25.00<br />
Out the door with EPA charges and Sales Tax.<br /><br />



<fieldset id="" class="">
	<legend>Need Tires?</legend>
<%= link_to image_tag("tirepro.gif", :size => "150x50", :border => 0), "http://www.thetirepro.com"%><br /> Now an authorize Pirelli Dealer. <br /><br />
<h2>We Guarantee</h2>
you will not find a better tire for less.<br />


</fieldset> <br />


<h2>25% OFF</h2>
<strong>Any competitors best brake price.</strong><br />
some restrictions apply.<br /><br />


<%= link_to image_tag("send_a_friend.gif", :border => 0), :action => 'promotion1'%><br /><br />
<%= link_to image_tag("415_cert_a.jpg", :border => 0), :action => 'promotion2'%>
<%= link_to image_tag("415_cert_b.jpg", :border => 0), :action => 'promotion3'%><br /><br />