<h1>Promotions</h1>
<strong>Our latest sales and specials!</strong><br /><br />

<h2>$19.89 Oil change</h2>
Tire rotation and multi-point inspection Total: $25.00<br />
Out the door with EPA charges and Sales Tax.<br /><br />

<h2>25% OFF</h2>
<strong>Any competitors best brake price.</strong><br />
some restrictions apply.<br /><br />

<h2><%= link_to "TIRES", "http://www.thetirepro.com"%></h2>
<strong>We Guarantee</strong><br /> 
you will not find a better tire for less.<br /><br /><br />


<%= link_to image_tag("send_a_friend.gif", :border => 0), :action => 'promotion1'%><br /><br />
<%= link_to image_tag("415_cert_a.jpg", :border => 0), :action => 'promotion2'%>
<%= link_to image_tag("415_cert_b.jpg", :border => 0), :action => 'promotion3'%><br /><br />