<h1 id="testimonials">Testimonials</h1>
<strong>real-life stories from our beloved customers.</strong>
<br />

<p>"just wanted to let you know that I am very pleased and satisfied with the past experience I had at the Stratford office regarding the integrity and quality of the brake service received, the honesty and time of the serviceperson to explain what was and was not needed to be done, and just how I was treated as a person with respect and courtesy.
I am now coming back to this office again for brake service with not just my car, but two additional family member cars. And that is important to me! That not only do I feel confident in the service for myself, but that I would recommend this office to anyone else, especially my family, because I trust the Stratford BCOA to give them the same quality work that I originally received.</p>
 
<p>I look forward to the same satisfying experience of knowing that my family is receiving the highest quality and integrity of both service and materials from BCOA."</p> 

--Tom Heinrich

<br /><br />

"Hi Bill,<br />
<p>Thanks for the quick answer. I took a chance and stopped by today and am very glad i did. Carlos and his associate took excellent care of me even though it was close to closing. They sent out for the needed brake parts and did a quick job for me. I am impressed and you have a new customer for life. I will be back soon to replace my rear tires and will schedule my future oil changes at your store. Please thank your wonderful employees for me!"</p>
--Al Heinlein

<p>"Hi Bill,<br /><br /> I went to your Bridgeport store last week for brake service (Thursday?) @ 2:40pm and
they apologized and said they were booked the rest of the day and invited to come back
the next morning. I said I live in Darien and said that I'd prefer not to go to Stamford.
That's when the Manager or Technician told me about the Norwalk Brake Center store.
I asked if they would please see if they could take me that day, so they
phoned the store and told them that I'd be coming.</p>
<p>It worked out, so I thought I'd commend your men and tell you.</p>
--Steve Stadtmiller" <br /><br />

<p>"Last week I brought my cars in for brake service to the Stratford store and again was not disappointed.
Al and company treated my daughter and I with the same courtesy and respect as previously received and with no less their professionalism, integrity and guarantee of brake service and parts. It is very much appreciated that they take their time to explain the post-service break-in period, type of brake parts used and why and time of brake warrantee, recommendations for what is required and what needs to be done even when it's not a service they can provide, i.e. an alignment after a tie-rod replacement, and them just working with you in general to ensure you understand and are satisfied with what's going to be done ahead of time; with the work and the out-the-door price.<br /><br />
And then to receive a follow-up call from Al to ensure I am satisfied with the brake work and that everything is ok with the cars, well you just can't beat customer service like that!<br /><br />
I walk away knowing that I respect and trust these servicepersons for their integrity and quality of brake service, and that I do, have, and will continue to be a loyal customer and recommend this store to everyone.<br /><br />
<strong>This store is excellent! Thank you in all honesty</strong>"</p>

